@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {

    /*Colours*/
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --lightGreen: hsl(154, 65%, 68%);
    --blue: hsl(248, 32%, 49%);
    --darkBlue: hsl(249, 10%, 26%);
    --grayishBlue: hsl(246, 25%, 77%);
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(0, 0%, 85%);

    /* 1rem === 10px */
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site-wrapper {
    background-image: url("../images/bg-intro-mobile.png");
    background-color: var(--red);
    display: flex;
    justify-content: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    margin: 8.8rem 2.4rem;
    text-align: center;
    max-width: 37.5rem;
}

.intro h1 {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.6rem;
}

.intro p {
    margin-top: 1.6rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.6rem;
}

.callout-box {
    background-color: var(--blue);
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    padding: 1.8rem 2.7rem;
    box-shadow: 0 8px 0 rgba(0, 0, 0, 0.14688);
    border-radius: 1rem;
}

.callout-box p {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.7rem;
    text-align: center;
}

.callout-box em {
    font-weight: 700;
    font-style: normal;
}

.form-container {
    background-color: var(--white);
    box-shadow: 0 0.8rem 0 rgba(0, 0, 0, 0.14688);
    border-radius: 1rem;
}

.signup-form {
    display: flex;
    flex-direction: column;
    margin: 0 2.4rem;
    padding-top: 0.8rem;
}

.signup-form-input {
    margin-top: 1.6rem;
    padding: 1.85rem 1.95rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--lightGray);
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 0.025rem;
    color: var(--darkBlue);
}

.signup-form-input::placeholder {
    color: var(--darkBlue)
}


.signup-form-submit {
    background-color: var(--green);
    margin-top: 1.6rem;
    padding: 2rem 2rem 1.8rem;
    border-radius: 0.5rem;
    box-shadow: inset 0 -0.4rem 0 rgba(0, 0, 0, 0.09);
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
    /* Fix styling on ios*/
    -webkit-appearance: none;
    -moz-appearance: none;
}

.signup-form-submit:focus {
    outline: none;
}

.signup-form-submit:active {
    background-color: var(--lightGreen);
    box-shadow: none;
    outline: none;
}

.signup-form-submit:hover {
    -webkit-box-shadow: inset 0px 0px 0px 0.2rem var(--red);
    -moz-box-shadow: inset 0px 0px 0px 0.2rem var(--red);
    box-shadow: inset 0px 0px 0px 0.2rem var(--red);
}


.terms-text {
    margin-left: 3.9rem;
    margin-right: 3.9rem;
    margin-bottom: 2.4rem;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 2.1rem;
    color: var(--grayishBlue);
}

.terms-text em {
    font-style: normal;
    color: var(--red);
}

.has-validation-error {
    border-color: var(--red) !important;
    background: url("../images/icon-error.svg") no-repeat center right 2.7rem;
}

.validation-error {
    margin-top: 0.6rem;
    font-size: 1.1rem;
    font-weight: 500;
    font-style: italic;
    text-align: right;
    color: var(--red);
}

/*Desktop*/
@media (min-width: 1024px) {
    .site-wrapper {
        background-image: url("../images/bg-intro-desktop.png");
        background-color: var(--red);
    }

    .content-wrapper {
        flex-direction: row;
        margin: 0 16.5rem 0 17.2rem;
        max-width: 110.5rem;
    }

    /*Left Side of Page - Intro side*/
    .intro {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-top: 29rem;
    }

    .intro h1 {
        margin-top: 0;
        margin-bottom: 0.4rem;
        margin-left: -1.4rem;
        font-weight: 700;
        font-size: 5rem;
        line-height: 5.5rem;
        text-align: left;
    }

    .intro p {
        margin-left: -1.4rem;
        margin-top: 3rem;
        text-align: left;
    }

    /*Right side of page - signup side*/
    .signup {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-top: 12.1rem;
    }

    .callout-box {
        margin: 0 1.15rem 0 0;
        padding: 1.65rem 0;
    }

    .form-container {
        margin-right: 1.15rem;
        margin-top: 2.4rem;
        margin-bottom: 0;
        padding: 2rem 4rem 4rem;
    }

    .signup-form {
        margin: 0;
        padding: 0;
    }

    .signup-form-input {
        margin: 2rem 0 0;
    }

    .signup-form-submit {
        margin: 2rem 0 0;
    }

    .terms-text {
        margin: 1.3rem 0 0;
    }
}